.additional {
  position: relative;

  &::before {
    @include leaf-stripe;
    width: 100%;
    top: 43px;
    z-index: 1;
  }
}

.additional__wrapper {
  @include container;
  padding: 0;
  padding-top: 5px;
}

.additional__title {
  font-size: 24px;
  font-weight: 400;
  color: $blacky;
  line-height: 24px;
  margin-bottom: 33px;
  margin-top: 25px;
  margin-left: -1px;
  position: relative;
  display: flex;
  z-index: 2;
  background-color: $white;
  padding-left: 20px;
  padding-right: 20px;
  width: 268px;
}

.additional__list {
  list-style: none;
  padding: 0 20px;
  min-width: 282px;
  margin-top: 0;
}

.additional__item {
  padding-top: 12px;
  padding-bottom: 16px;
  position: relative;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  border-collapse: collapse;
}

.additional__heading {
  @include medium-title;
  color: hsl(0, 0%, 13%);
  margin-bottom: 12px;
  margin-top: 0;
  margin-left: 1px;
}

.additional__cover {
  display: flex;
  justify-content: space-between;
}

.additional__data {
  font-family: $arial;
  font-size: 14px;
  color: $dark-grey;
  line-height: 14px;
}

.additional__btn {
  @include button-style;
  @include medium-title;
  @include green-btn-hover;
  padding-left: 3px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-decoration: none;
  background-color: $leaf;
  color: $white;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .additional {
    &::before {
      top: 16px;
    }
  }

  .additional__title {
    font-size: 36px;
    margin-top: 50px;
    width: 412px;
    margin-left: 0;
    padding-left: 37px;

    &::before {
      width: 327px;
      top: 16px;
      right: 0;
    }

    &::after {
      height: 3px;
      width: 28px;
      top: 16px;
      left: -67px;
      background-color: $leaf;
    }
  }

  .additional__list {
    margin-top: 86px;
    padding-left: 0;
    padding-right: 0;
  }

  .additional__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 38px;
    padding-right: 38px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-right: none;
    border-left: none;
    padding-bottom: 27px;
    margin-bottom: 0;
    border-bottom: none;

    &_last {
      border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    }

    &::after {
      display: none;
    }
  }

  .additional__heading {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .additional__cover {
    margin-top: 7px;
  }

  .additional__data {
    font-size: 16px;

    &_left {
      margin-right: 52px;
    }
  }

  .additional__data_second {
    margin-right: 60px;
  }

  .additional__btn {
    width: 100%;
    padding-left: 0;
    margin-top: 14px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 72px;

    &::before {
      top: 94px;
    }
  }

  .additional__container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 78px;
  }

  .additional__wrapper {
    margin-left: 0;
    padding: 0;
    width: 1005px;
    margin-right: 0;
  }

  .additional__title {
    margin: 0;
    margin-left: 71px;
  }

  .additional__list {
    padding-left: 110px;
    margin-top: 86px;
  }

  .additional__item {
    border-left: none;
    border-right: none;
    padding-bottom: 13px;
    margin-right: 0;
    width: 895px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    border-collapse: collapse;
  }

  .additional__heading {
    margin-left: 0;
    margin-top: 11px;
  }

  .additional__cover {
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin-left: auto;
    margin-right: 37px;
    margin-top: 17px;
  }

  .additional__data_fifty {
    margin-right: 9px;
  }

  .additional__btn {
    width: 245px;
    height: 40px;
    margin-right: 0;
    margin-top: 0;
  }
}
