.address {
  margin-left: 0;
  min-width: 320px;
  width: 100%;
}

.address__grey {
  background-color: $light-grey;
}

.address__info {
  display: flex;
  justify-content: space-around;
  padding: 28px 20px;
}

.address__offer {
  @include medium-title;
  line-height: 20px;
  min-width: 124px;
  margin-top: 0;
  margin-bottom: 0;
}

.address__position {
  font-family: $arial;
  color: $dark-grey;
  line-height: 20px;
  margin-left: 18px;
  font-style: normal;
}

.address__img {
  margin-bottom: -3px;
  width: 100%;
}

.address__overlay {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 1;

  &::after {
    content: "";
    background-image: url("../img/pin-new.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 55px;
    height: 53px;
    display: flex;
    z-index: 2;
    top: 137px;
    left: 43vw;
  }
}

.address__map {
  height: 363px;
}

@media (min-width: $tablet-width) {
  .address {
    padding-top: 30px;
  }

  .address__grey {
    background-color: $light-grey;
    margin-top: 59px;
  }

  .address__info {
    justify-content: space-between;
    padding: 35px 71px 56px;
  }

  .address__offer {
    font-size: 20px;
    line-height: 1.25;
    max-width: 154px;
  }

  .address__position {
    font-size: 16px;
    max-width: 155px;
    text-align: right;

    &_city {
      display: block;
      margin-top: 20px;
    }
  }

  .address__overlay {
    &::after {
      width: 113px;
      height: 106px;
      content: "";
      background-image: url("../img/pin-new.png");
      background-size: 113px 96px;
      top: 38%;
      left: 42.7vw;
    }

    &_form::after {
      top: -234px;
    }
  }

  .address__map {
    height: 400px;
  }

  .address__img {
    width: 100%;
    height: 400px;
    margin-left: 0;
    margin-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    position: relative;
    margin-top: 0;
    padding-top: 0;
  }

  .address__grey {
    padding-top: 0;
  }

  .address__img {
    margin-top: 0;
  }

  .address__info {
    position: absolute;
    background: $white;
    width: 570px;
    display: flex;
    z-index: 2;
    right: 53vw;
    top: 96px;
    padding: 65px 90px 58px 75px;
  }

  .address__position {
    text-align: left;
  }

  .address__overlay {
    &::after {
      left: 45.7%;
    }
  }

  .address__map {
    width: 100%;
    border: none;
    overflow: hidden;
  }
}
