.cat {
  border: none;
  margin-top: 20px;
  margin-left: -1px;
  padding-left: 0;
  position: relative;

  &::after {
    @include catalog-stripe;
    position: absolute;
    bottom: -1px;
    left: -20px;
  }
}

.cat__list {
  list-style: none;
  padding: 0;
}

.cat__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.cat__label {
  @include upper-16;
  color: hsl(0, 0%, 13%);
  &_name {
    margin-right: 15px;
  }
  &_weight {
    margin-right: 18px;
  }
  &_age {
    margin-right: 16px;
  }
}

.cat__input {
  @include upper-16;
  @include input-hover;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-right: 8px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid hsla(0, 0%, 80%, 0.5);
  &_name {
    width: 229px;
  }
  &_weight {
    width: 204px;
  }
  &_age {
    width: 172px;
  }
}
