.copyright {
  display: flex;
  background: $light-grey 320px 300px;
  padding: 6px 8px 14px 19px;
}

.copyright__text {
  font-family: $arial;
  font-size: 16px;
  color: $dark-grey;
  display: inline-block;
  margin-top: 10px;
}

.copyright__logo {
  display: inline-block;
  margin-left: auto;
}

.copyright__image {
  fill: $dark-grey;

  &:hover {
    fill: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    margin: 0;
    padding: 0;
  }

  .copyright__text {
    margin-right: 11px;
    width: 114px;
  }
}

@-moz-document url-prefix() {
  .copyright__text {
    width: 115px;
  }
}

.copyright__logo {
  display: block;
}

.copyright__image {
  width: 50px;
  height: 40px;
}

