.extra {
  border: none;
  padding-left: 0;
  margin-left: 20px;
  position: relative;

  &::after {
    @include leaf-stripe;
    width: 100%;
    top: 11px;
    z-index: 1;
  }
}

.extra__title {
  @include text-style-title;
  text-transform: none;
  position: relative;
  margin-left: -3px;
  background: $white;
  z-index: 2;
  padding-right: 24px;
}

.extra__list {
  list-style: none;
  padding: 0;
  margin-top: 39px;
}

.extra__item {
  margin-bottom: 24px;
}

.extra__label {
  @include upper-16;
  padding-left: 37px;
}

.extra__input:checked,
.extra__input:not(:checked) {
  appearance: none;
}

.extra__input:checked + .extra__label,
.extra__input:not(:checked) + .extra__label {
  @include label-position;
  line-height: 17px;
  padding-left: 37px;

  &:active {
    opacity: 0.3;
  }
}

.extra__input:checked + .extra__label::before,
.extra__input:not(:checked) + .extra__label::before {
  @include input-border;
  left: -9px;
  top: -4px;
}

.extra__input:checked:hover + .extra__label::before,
.extra__input:not(:checked):hover + .extra__label::before {
  border: 1px solid hsl(0, 0%, 73%);
}


.extra__input:checked + .extra__label::after,
.extra__input:not(:checked) + .extra__label::after {
  @include input-transition;
  left: -3px;
  top: 1px;
  width: 20px;
  height: 11px;
  border-radius: 1px;
  border-left: 2px solid hsl(97, 53%, 47%);
  border-bottom: 2px solid hsl(97, 53%, 47%);
  transform: rotate(-45deg);
}

.extra__input:not(:checked) + .extra__label::after {
  opacity: 0;
}

.extra__input:checked + .extra__label::after {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .extra {
    margin-top: 43px;
    margin-left: 0;

    &::after {
      @include leaf-stripe;
      width: 100%;
      top: 13px;
    }
  }

  .extra__title {
    font-size: 36px;
    margin-left: 30px;
    padding-left: 37px;
    padding-right: 42px;
  }

  .extra__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 73px;
  }

  .extra__item {
    width: 34.6%;
    margin-left: 83px;
    margin-bottom: 52px;

    &_last {
      margin-bottom: 0;
    }
  }

  .extra__label {
    font-size: 20px;
  }

  .extra__input:checked + .extra__label::before,
  .extra__input:not(:checked) + .extra__label::before {
    top: -11px;
    left: -21px;
  }

  .extra__input:checked + .extra__label::after,
  .extra__input:not(:checked) + .extra__label::after {
    left: -10px;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .extra__title {
    margin-left: 70px;

    &::before {
      left: -107px;
      width: 70px;
    }

    &::after {
      width: 1078px;
    }
  }

  .extra__list {
    margin-left: 39px;
    margin-bottom: 0;
  }

  .extra__item {
    width: 17.5%;
    margin-bottom: 48px;
  }
}
