.fitness {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border: none;
  position: relative;
  padding-top: 26px;
  padding-bottom: 30px;

  &::after {
    @include catalog-stripe;
    width: 100%;
    position: absolute;
    bottom: 28px;
  }
}

.fitness__list {
  @include container;
  list-style: none;
  margin: 0;
}

.fitness__item {
  margin-bottom: 24px;
  margin-left: 20px;
}

.fitness__label {
  @include medium-title;
  color: hsl(0, 0%, 13%);
}

.fitness__input:checked,
.fitness__input:not(:checked) {
  appearance: none;

  &:disabled {
    opacity: 0.1;
  }
}

.fitness__input:checked + .fitness__label,
.fitness__input:not(:checked) + .fitness__label {
  @include label-position;

  &:active {
    opacity: 0.3;
  }
}

.fitness__input:checked + .fitness__label::before,
.fitness__input:not(:checked) + .fitness__label::before {
  @include input-border;
  border-radius: 100%;
}

.fitness__input:checked:hover + .fitness__label::before,
.fitness__input:not(:checked):hover + .fitness__label::before {
  border: 1px solid hsl(0, 0%, 73%);
}

.fitness__input:checked + .fitness__label::after,
.fitness__input:not(:checked) + .fitness__label::after {
  @include input-transition;
  left: -14px;
  top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: hsl(97, 53%, 47%);
}

.fitness__input:not(:checked) + .fitness__label::after {
  opacity: 0;
}

.fitness__input:checked + .fitness__label::after {
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .fitness {
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    margin: 43px 67px 81px 71px;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .fitness__list {
    margin-top: 33px;
    padding: 0 38px;
    padding-bottom: 8px;
    width: 100%;
  }

  .fitness__item {
    margin-bottom: 32px;
    margin-left: 0;

    &_last {
      margin-bottom: 25px;
    }
  }

  .fitness__label {
    font-size: 20px;
    margin-left: 23px;
  }

  .fitness__input:checked + .fitness__label::after,
  .fitness__input:not(:checked) + .fitness__label::after {
    width: 18px;
    height: 18px;
    left: -26px;
    top: 1px;
  }
}

@media (min-width: $desktop-width) {
  .fitness {
    margin-left: 0;
    margin-right: 0;
    margin-top: 66px;
    align-self: baseline;
    margin-bottom: 76px;
  }

  .fitness__list {
    padding-right: 52px;
  }

  .fitness__item {
    margin-right: 197px;
  }
}
