.footer {
  @include container-mobile;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 38px;
  padding-bottom: 40px;
  background: $light-grey;
  margin-left: -20px;
  margin-right: -20px;
}

.footer__img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
