.footer {
  background-color: $light-grey;
}

.footer__index {
  background-color: $white;
}

.footer__container {
  @include container;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 40px;
  background: $light-grey;
}

.footer__img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .footer__index {
    background-color: $white;
  }

  .footer__container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    background: $light-grey;
    padding: 20px 18px 18px 31px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer__container {
    width: 100%;
    background-color: $light-grey;
  }

  .footer__wrapper {
    margin: 0 auto;
    padding: 28px 28px 18px 40px;
    width: 1300px;
  }
}

