.form,
.page-form {
  @include container;
  padding-left: 0;
  padding-right: 0;
}

.page-form__title {
  @include container;
  @include big-title;
  margin-top: 15px;
  margin-bottom: 25px;
  position: relative;

  &::before {
    @include catalog-stripe;
    position: absolute;
    top: -16px;
    left: 0;
  }
}

.page-form__text {
  @include container;
  @include upper-14;
  width: 303px;
  margin: 0;
}

.page-form__button {
  @include catalog-btn;
  @include upper-16;
  @include green-btn-hover;
  font-family: $main-text;
  color: $white;
  background-color: $leaf;
  margin-top: 9px;
  padding-left: 9px;
  margin-left: 20px;
}

.page-form__required {
  font-family: $arial;
  font-size: 14px;
  color: $dark-grey;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .page-form__title {
    font-size: 60px;
    margin-left: 29px;
    margin-top: 45px;

    &::before {
      display: none;
    }
  }

  .page-form__text {
    font-size: 20px;
    margin-top: 55px;
    line-height: 1.5;
    min-width: 323px;
    margin-left: 70px;
  }

  .page-form__button {
    display: inline-block;
    font-size: 20px;
    margin-left: 71px;
    padding-left: 2px;
    margin-top: 40px;
    padding-top: 10px;
    width: 283px;
    padding-bottom: 12px;
  }

  .page-form__required {
    display: inline-block;
    font-size: 16px;
    margin-left: 58px;
    vertical-align: middle;
  }
}

@media (min-width: $desktop-width) {
  .page-form__title {
    margin-left: 110px;
    margin-top: 62px;
  }

  .page-form__text {
    margin-left: 110px;
  }

  .form__wrapper {
    display: flex;
  }

  .page-form__button {
    margin-top: 13px;
    margin-left: 111px;
    margin-bottom: 82px;
    width: 568px;
  }

  .page-form__required {
    margin-left: 79px;
  }
}
