.form {
  @include container-mobile;
}

.page-form__title {
  @include container-mobile;
  @include big-title;
  margin-top: 15px;
  margin-bottom: 25px;
  position: relative;

  &::before {
    @include catalog-stripe;
    position: absolute;
    top: -16px;
    left: 0;
  }
}

.page-form__text {
  @include container-mobile;
  @include upper-14;
  width: 271px;
  padding-left: 12px;
}

.page-form__button {
  @include catalog-btn;
  @include upper-16;
  @include green-btn-hover;
  color: $white;
  background-color: $leaf;
  margin-top: 7px;
  padding-left: 9px;
}

.page-form__required {
  font-family: $arial;
  font-size: 14px;
  color: $dark-grey;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 31px;
}
