.owner {
  border: none;
}

.owner__title {
  @include text-style-title;
  text-transform: none;
  position: relative;
  margin-left: 6px;
  margin-bottom: 14px;
  line-height: 24px;

  &::after {
    @include leaf-stripe;
    width: 99px;
    top: 14px;
    right: -12px;
  }
}

.owner__list {
  list-style: none;
  padding: 0;
  margin-left: 6px;
  margin-bottom: 22px;
}

.owner__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.owner__label {
  @include upper-16;
  margin-right: 4px;
  flex-grow: 1;
  position: relative;

  &::after {
    display: flex;
    position: absolute;
  }
}

.owner__input {
  @include upper-16;
  @include input-hover;
  margin-top: 1px;
  margin-right: 8px;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 12px;
  flex-grow: 8;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid hsla(0, 0%, 80%, 0.5);
}

.owner__input_email {
  background: url("../../img/icon-mail.svg") no-repeat 93% 50%;
  background-size: 17px 14px;
}

.owner__input_phone {
  background: url("../../img/icon-phone.svg") no-repeat 94% 50%;
  background-size: 20px 20px;
}
