.header {
  @include container-mobile;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  margin-top: 14px;
  margin-bottom: 9px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: 0.2s ease;
  }

  &:focus,
  &:active {
    opacity: 0.6;
    transition: 0.1s ease;
  }
}

.header__button {
  width: 19px;
  height: 19px;
  margin-left: 67px;
  margin-top: 22px;
  font-size: 0;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

