.info {
  @include container-mobile;
  padding-bottom: 20px;
}

.info__title {
  @include big-title;
  margin-top: 17px;
}

.info__list {
  list-style: none;
  padding: 0;
  margin-left: 80px;
  font-family: $arial;
}

.info__item {
  margin-bottom: 26px;
  position: relative;

  &::before {
    content: "";
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -2px;
    left: -80px;
    background-color: $leaf;
  }

  &_leaf::after {
    content: url("../img/advantage-leaf@1x.png");
    display: flex;
    width: 26px;
    height: 29px;
    position: absolute;
    top: 3px;
    left: -75px;
  }

  &_dish::after {
    content: url("../img/advantage-powder@1x.png");
    display: flex;
    width: 29px;
    height: 31px;
    position: absolute;
    top: 2px;
    left: -75px;
  }

  &_fork::after {
    content: url("../img/advantage-dining@1x.png");
    display: flex;
    width: 23px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: -76px;
  }

  &_clock::after {
    content: url("../img/advantage-clock@1x.png");
    display: flex;
    width: 26px;
    height: 31px;
    position: absolute;
    top: 3px;
    left: -75px;
  }
}
