.info__container {
  @include container;
  padding-bottom: 20px;
  padding-top: 18px;
}

.info__title {
  @include big-title;
  margin-top: 0;
  margin-bottom: 0;
}

.info__list {
  padding-left: 80px;
  list-style: none;
  font-family: $arial;
  padding-top: 51px;
  margin-top: 0;
}

.info__item {
  margin-bottom: 26px;
  position: relative;

  &::before {
    content: "";
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -2px;
    left: -80px;
    background-color: $leaf;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
  }

  &_leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &_dish::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &_fork::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &_clock::before,
  &_change-text::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .info__container {
    position: relative;
    padding: 4px 30px 11px 30px;

    &::after {
      content: "";
      display: flex;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 723px;
      left: 0;
      background-color: $blacky;
      opacity: 0.1;
    }
  }

  .info__title {
    font-size: 60px;
  }

  .info__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 11px;
    padding-top: 95px;
    padding-left: 0;
    padding-right: 74px;
  }

  .info__item {
    position: relative;
    font-size: 16px;
    width: 250px;
    line-height: 1.5;
    padding-top: 110px;
    padding-bottom: 135px;
    margin-bottom: 0;

    &::before {
      width: 80px;
      height: 80px;
      left: 0;
    }

    &::after {
      display: flex;
      position: absolute;
      font-size: 281px;
      font-family: $main-text;
      top: -111px;
      opacity: 0.1;
    }

    &_leaf::after {
      content: "1";
      left: 118px;
    }

    &_dish::after {
      content: "2";
      left: 111px;
    }

    &_fork::after {
      content: "3";
      left: 113px;
    }

    &_clock::after {
      content: "4";
      left: 113px;
    }
  }
}

@media (min-width: $desktop-width) {
  .info__container {
    padding: 23px 110px;
  }

  .info__title {
    margin-top: 44px;
  }

  .info__list {
    padding-right: 0;
  }

  .info__item {
    width: 20.1%;
    padding-bottom: 36px;
  }
}
