.intro {
  background-color: #68b738;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 27px;
  position: relative;
  padding-bottom: 153px;
}

.intro__title {
  font-size: 36px;
  color: hsl(0, 0%, 100%);
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}

.intro__text {
  @include white-text;
  line-height: 14px;
  margin-top: 25px;
}

.intro__img {
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 166px;
  left: 20px;
}
