.more {
  margin-top: 105px;
  position: relative;

  &::before {
    content: url("../img/icon-plus-mobile.svg");
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: -54px;
    left: 125px;
  }

  &::after {
    @include catalog-stripe;
    top: 128px;
    left: -20px;
  }
}

.more__btn {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/icon-plus-mobile.svg");
  border: none;
  margin: 0 auto;
  margin-top: 51px;
}

.more__title {
  @include medium-title;
  text-align: center;
  margin-top: 24px;
  margin-left: 2px;
  margin-bottom: 9px;
  display: block;
  text-decoration: none;
}

.more__text {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;
}

.more__show {
  @include button-style;
  @include medium-title;
  background-color: hsl(0, 0%, 95%);
  color: $dark-grey;
  font-family: $main-text;

  &:hover,
  &:focus {
    background-color: hsl(0, 0%, 92%);
  }

  &:active {
    color: hsla(0, 0%, 27%, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .more {
    border: 1px solid $light-grey;
    margin-top: 137px;
    align-self: baseline;

    &::after {
      display: none;
    }

    &::before {
      content: url("../img/icon-plus.svg");
      width: 60px;
      height: 60px;
      top: 54px;
      left: 133px;
    }
  }

  .more__title {
    font-size: 20px;
    max-width: 134px;
    margin-top: 163px;
    line-height: 1;
    margin-left: 96px;
    margin-right: 94px;
  }

  .more__text {
    font-size: 16px;
    max-width: 167px;
    margin-top: 25px;
    margin-left: 79px;
    line-height: 1.2;
  }

  .more__show {
    margin-top: 85px;
    width: 249px;
    margin-right: 37px;
    padding-left: 6px;
    margin-bottom: 41px;
  }
}

@media (min-width: $desktop-width) {
  .more {
    margin-top: 143px;
    padding-left: 0;

    &::before {
      left: 92px;
    }
  }

  .more__title {
    margin: 0 auto;
    margin-top: 163px;
  }

  .more__text {
    margin: 0 auto;
    margin-top: 25px;
  }

  .more__show {
    width: 169px;
    margin-right: 39px;
    margin-left: 39px;
  }
}
