.order__img {
  display: flex;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 35px;
}

.order__overlay {
  position: relative;

  &::before {
    content: url("../../img/icon-gift.svg");
    filter: invert(97%) sepia(23%) saturate(0%) hue-rotate(340deg) brightness(114%) contrast(106%);
    display: block;
    width: 55px;
    height: 60px;
    position: absolute;
    top: 65px;
    left: 133px;
  }
}

.order__text {
  color: $white;
  font-family: $arial;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  width: 161px;
  height: 60px;
  top: 171px;
  left: 79px;
}
