.order {
  @include container;
}

.order__img {
  display: flex;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 35px;
}

.order__overlay {
  position: relative;

  &::before {
    content: url("../img/icon-gift.svg");
    display: block;
    width: 55px;
    height: 60px;
    position: absolute;
    top: 65px;
    left: 113px;
  }
}

.order__text {
  color: $white;
  font-family: $arial;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  width: 161px;
  height: 60px;
  top: 171px;
  left: 59px;
}

@media (min-width: $tablet-width) {
  .order__img {
    width: 92.2%;
    height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    margin-left: 31px;
  }

  .order__overlay::before {
    left: 122px;
  }

  .order__text {
    text-align: left;
    top: 56px;
    left: 454px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    margin-top: 175px;
    margin-right: 110px;
  }

  .order__overlay::before {
    left: 127px;
  }

  .order__img {
    width: 245px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .order__text {
    left: 73px;
    text-align: center;
    top: 171px;
  }
}
