.owner {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;

  &::before {
    @include leaf-stripe;
    top: 16px;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.owner__title {
  @include text-style-title;
  text-transform: none;
  margin-bottom: 19px;
  line-height: 24px;
  position: relative;
  background-color: $white;
  z-index: 2;
  padding-left: 19px;
  padding-right: 20px;
  width: 221px;
}

.owner__list {
  padding-left: 19px;
  padding-right: 20px;
  list-style: none;
  margin-bottom: 31px;
}

.owner__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.owner__label {
  @include medium-title;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &::after {
    display: flex;
    position: absolute;
  }
}

.owner__input {
  @include medium-title;
  @include input-hover;
  margin-top: 1px;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 12px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid hsla(0, 0%, 80%, 0.5);

  &_email {
    width: 220px;
    margin-left: 11px;
  }

  &_phone {
    width: 204px;
    margin-left: 9px;
  }
}

.owner__image_email {
  position: absolute;
  right: 35px;

  &:hover {
    fill: $leaf;
  }
}

.owner__image_phone {
  position: absolute;
  right: 35px;

  &:hover {
    fill: $leaf;
  }
}

@media (min-width: $tablet-width) {
  .owner__title {
    font-size: 36px;
    width: 593px;
    margin-left: 30px;
    padding-left: 39px;
  }

  .owner__list {
    margin-bottom: 0;
    padding: 48px 65px 55px 68px;
  }

  .owner__item {
    margin-bottom: 19px;
  }

  .owner__input {
    flex-grow: 1;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 18px;
    height: 52px;
    margin-left: 17px;

    &_email {
      background: url("../img/icon-mail.svg") no-repeat 96.5% 50%;
      background-size: 17px 14px;
    }

    &_phone {
      background: url("../img/icon-phone.svg") no-repeat 97% 50%;
      background-size: 20px 20px;
      padding-left: 17px;
    }

    &:invalid {
      border: 2px solid 	hsl(0, 100%, 75%);
    }

    &:disabled {
      opacity: 0.1;
    }
  }

  .owner__label {
    font-size: 20px;

    &_email {
      margin-left: 4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .owner__title {
    margin-left: 0;
  }

  .owner__list {
    display: flex;
    padding: 47px 40px 57px;
  }

  .owner__item {
    width: 47%;

    &:first-child {
      margin-right: 78px;
    }
  }
}
