.owner {
  border: none;
  padding-left: 0;
  margin-left: 0;
}

.owner__title {
  @include text-style-title;
  text-transform: none;
  position: relative;
  margin-bottom: 14px;
  line-height: 24px;

  &::after {
    @include leaf-stripe;
    width: 99px;
    top: 14px;
    right: -20px;
  }
}

.owner__list {
  list-style: none;
  padding: 0;
  margin-bottom: 22px;
}

.owner__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.owner__label {
  @include upper-16;
  margin-right: 10px;
  position: relative;

  &::after {
    display: flex;
    position: absolute;
  }
}

.owner__input {
  @include upper-16;
  @include input-hover;
  margin-top: 1px;
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 12px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid hsla(0, 0%, 80%, 0.5);

  &_email {
    background: url("../img/icon-mail.svg") no-repeat 93% 50%;
    background-size: 17px 14px;
    width: 220px;
  }

  &_phone {
    background: url("../img/icon-phone.svg") no-repeat 94% 50%;
    background-size: 20px 20px;
    width: 204px;
  }
}
