.page-form {
  @include container;
  padding: 0;
  position: relative;

  &::before {
    @include catalog-stripe;
    position: absolute;
    top: -1px;
    left: 0;
  }
}

.page-form__container {
  padding-top: 41px;
}

.page-form__title {
  @include container;
  @include big-title;
  margin-bottom: 46px;
  margin-top: 0;
}

.page-form__text {
  @include small-title;
  @include container;
  width: 271px;
  margin: 0;
}

.page-form__form {
  padding: 0;
}

.page-form__button {
  @include button-style;
  @include medium-title;
  @include green-btn-hover;
  font-family: $main-text;
  color: $white;
  background-color: $leaf;
  margin-top: 16px;
  padding-left: 6px;
}

.page-form__required {
  font-family: $arial;
  font-size: 14px;
  color: $dark-grey;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .page-form {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .page-form__title {
    font-size: 60px;
    margin-top: 12px;

    &::before {
      display: none;
    }
  }

  .page-form__text {
    font-size: 20px;
    margin-top: 76px;
    margin-left: 40px;
    line-height: 1.5;
    width: 383px;
  }

  .page-form__button {
    display: inline-block;
    font-size: 20px;
    margin-left: 71px;
    padding-left: 2px;
    margin-top: 31px;
    padding-top: 16px;
    width: 283px;
    padding-bottom: 18px;
  }

  .page-form__required {
    display: inline-block;
    font-size: 16px;
    margin-left: 58px;
    vertical-align: middle;
  }
}

@media (min-width: $desktop-width) {
  .page-form__container {
    padding-top: 38px;
  }

  .page-form__title {
    margin-top: 0;
    padding-left: 40px;
  }

  .page-form__text {
    padding-left: 40px;
    margin-left: 0;
    width: 473px;
  }

  .page-form__wrapper {
    display: flex;
  }

  .page-form__button {
    margin-top: 13px;
    margin-left: 41px;
    margin-bottom: 82px;
    width: 568px;
  }

  .page-form__required {
    margin-left: 79px;
  }
}
