.products {
  @include container-mobile;
}

.products__title {
  @include big-title;
  margin-top: 15px;
  position: relative;

  &::before {
    @include catalog-stripe;
    top: -16px;
    left: -20px;
  }

  &::after {
    @include catalog-stripe;
    top: 88px;
    left: -20px;
  }
}

.products__list {
  list-style: none;
  padding: 0;
}

.products__item {
  position: relative;

  &::after {
    @include catalog-stripe;
    top: 213px;
    left: -20px;
  }
}

.products__content {
  display: flex;
}

.products__pic {
  margin-top: 5px;
}

.products__btn {
  @include catalog-btn;
  @include upper-16;
  @include green-btn-hover;
  background-color: $leaf;
  color: $white;
  margin-bottom: 20px;
}
