.products__container {
  @include container;
}

.products__title {
  @include big-title;
  margin-top: 11px;
  margin-bottom: 24px;
  position: relative;

  &::before {
    @include catalog-stripe;
    top: -37px;
    left: -20px;
  }

  &::after {
    @include catalog-stripe;
    top: 67px;
    left: -20px;
  }
}

.products__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 21px;
}

.products__item {
  position: relative;

  &::after {
    @include catalog-stripe;
    top: 213px;
    left: -20px;
  }
}

.products__content {
  display: flex;
}

.products__pic {
  margin-top: 5px;
}

.products__btn {
  @include button-style;
  @include medium-title;
  @include green-btn-hover;
  font-family: $main-text;
  background-color: $leaf;
  color: $white;
  margin-bottom: 20px;
  margin-top: -3px;
}

@media (min-width: $tablet-width) {
  .products__container {
    padding-top: 44px;
  }

  .products__title {
    font-size: 60px;
    margin-top: 9px;

    &::before,
    &::after {
      display: none;
    }
  }

  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .products__item {
    background-color: $light-grey;
    padding-bottom: 20px;
    margin-top: 141px;

    &_bottom {
      margin-bottom: 21px;
    }

    &::after {
      display: none;
    }
  }

  .products__content {
    flex-direction: column;
  }

  .products__pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: -46px;
    margin-left: 1px;

    &_big {
      margin-top: -82px;
    }

    &_small-fish {
      margin-top: -48px;
    }

    &_rice {
      margin-top: -49px;
    }
  }

  .products__btn {
    margin-top: 25px;
    width: 249px;
    padding-left: 11px;
    margin-left: 39px;
  }
}

@media (min-width: $desktop-width) {
  .products__container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 29px;
  }

  .products__item {
    padding-bottom: 8px;

    &_bottom {
      margin-bottom: 0;
    }
  }

  .products__pic {
    width: 100%;
    height: auto;
    margin-top: -45px;
    margin-left: 0;

    &_big {
      margin-top: -81px;
    }
  }

  .products__btn {
    width: 169px;
    margin-left: 38px;
    margin-bottom: 29px;
  }
}
