.program__block {
  background-color: $light-grey;
  min-width: 280px;
  padding: 30px 20px 20px 20px;

  &_slim {
    margin-top: 22px;
    margin-bottom: 20px;
  }

  &_pro {
    padding-bottom: 20px;
  }
}

.program__title {
  @include text-style-title;
  line-height: 37.02px;
  text-align: center;
  position: relative;
  margin-left: 10px;
  margin-top: 0;

  &::after {
    content: "";
    display: flex;
    position: absolute;
    top: -5px;
    left: -8px;
    width: 50px;
    height: 50px;
    background-color: $leaf;
    border-radius: 50%;
    z-index: 1;
  }
}

.program__title_slim::before {
  content: url("../img/icon-cat-slim.svg");
  position: absolute;
  top: -8px;
  left: 0;
  width: 35px;
  height: 49px;
  z-index: 2;
}

.program__title_pro {
  margin-left: 39px;

  &::before {
    content: url("../img/icon-cat-pro.svg");
    position: absolute;
    top: 4px;
    left: -46px;
    width: 67px;
    height: 28px;
    z-index: 2;
  }

  &::after {
    left: -37px;
    top: -6px;
  }
}

.program__text {
  margin-top: 29px;
  margin-bottom: 41px;
  font-family: $arial;
  letter-spacing: normal;
  color: $dark-grey;
  position: relative;

  &::after {
    content: "";
    display: flex;
    position: absolute;
    top: 112px;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: hsla(0, 0%, 0%, 0.1);
  }
}

.program__link {
  @include medium-title;
  text-decoration: none;
  position: relative;

  &::after {
    content: url("../img/icon-right-arrow-long.svg");
    display: flex;
    position: absolute;
    top: 2px;
    left: 97px;
    width: 24px;
    height: 11px;
  }

  &:hover::after,
  &:focus::after {
    content: url("../img/icon-right-arrow-verylong.svg");
    width: 33px;
  }

  &:active {
    opacity: 0.3;
    transition: 0.1s ease;
  }

  &_pro::after {
    left: 95px;
  }
}

@media (min-width: $tablet-width) {
  .program {
    position: relative;
    margin-top: 632px;
  }

  .program__block {
    padding: 76px 46px 63px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .program__title {
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;

    &_pro {
      margin-left: 10px;
    }

    &::after {
      top: 16px;
      left: 393px;
      width: 200px;
      height: 200px;
    }
  }

  .program__title_pro::after {
    top: 15px;
    left: 396px;
  }

  .program__title_slim::before {
    top: 4px;
    left: 423px;
    width: 140px;
    height: 193px;
  }

  .program__title_pro::before {
    top: 59px;
    left: 360px;
    width: 268px;
    height: 113px;
  }

  .program__text {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 25px;
    line-height: 1.5;
    margin-bottom: 57px;

    &::after {
      display: none;
    }
  }

  .program__text_slim {
    max-width: 372px;
  }

  .program__text_pro {
    max-width: 340px;
  }

  .program__link {
    font-size: 20px;
    display: block;
    margin-left: 10px;

    &::after {
      top: -3px;
      left: 131px;
    }
  }

  @-moz-document url-prefix() {
  .program__link {
    &::after {
      top: 3px;
    }
  }
  }

  .program__link_pro::after {
    left: 125px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin-top: 377px;
    display: flex;
  }

  .program__block {
    width: 570px;
    margin: 0;
    padding-left: 42px;
    padding-top: 77px;

    &_pro {
      margin-left: auto;
    }
  }

  .program__title {
    text-align: center;
    margin: 0;
    margin-bottom: 73px;
    margin-left: 25px;

    &::after {
      top: -29px;
      left: -15px;
      width: 100px;
      height: 100px;
    }

    &_pro {
      margin-left: 68px;
    }
  }

  .program__title_slim::before {
    left: -1px;
    top: -36px;
    width: 71px;
    height: auto;
  }

  .program__title_pro::before {
    left: -76px;
    top: -7px;
    width: 134px;
    height: auto;
  }

  .program__title_pro::after {
    left: -58px;
  }

  .program__text {
    font-size: 16px;
    min-width: 462px;
    margin-bottom: 33px;
  }

  .program__link {
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
  }
}
