.program {
  @include container;
}

.program__btn {
  @include white-text;
  @include green-btn-hover;
  margin: 0 auto;
  margin-top: 135px;
  padding-top: 11px;
  margin-bottom: 20px;
  padding-bottom: 11px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: hsl(97, 53%, 47%);
  width: 280px;
  margin-left: -20px;
}

.program__block {
  background-color: $light-grey;
  margin-left: -20px;
  min-width: 280px;

  &_slim {
    margin-top: 22px;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 20px;
  }

  &_pro {
    padding-top: 1px;
    padding-bottom: 20px;
  }
}

.program__title {
  @include text-style-title;
  line-height: 37.02px;
  text-align: center;
  margin-left: 11px;
  position: relative;

  &::after {
    content: "";
    display: flex;
    position: absolute;
    top: -5px;
    left: 11px;
    width: 50px;
    height: 50px;
    background-color: $leaf;
    border-radius: 50%;
    z-index: 1;
  }
}

.program__title_pro {
  margin-left: 38px;
  margin-top: 29px;

  &::before {
    content: url("../img/icon-cat-pro.svg");
    position: absolute;
    top: 4px;
    left: -25px;
    width: 67px;
    height: 28px;
    z-index: 2;
  }

  &::after {
    left: -16px;
    top: -6px;
  }
}

.program__text {
  margin-left: 20px;
  margin-top: 29px;
  margin-bottom: 41px;
  font-family: $arial;
  letter-spacing: normal;
  margin-right: 35px;
  color: $dark-grey;
  position: relative;

  &::after {
    content: "";
    display: flex;
    position: absolute;
    top: 112px;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: hsla(0, 0%, 0%, 0.1);
  }
}

.program__title_slim::before {
  content: url("../img/icon-cat-slim.svg");
  position: absolute;
  top: -8px;
  left: 19px;
  width: 35px;
  height: 49px;
  z-index: 2;
}

.program__link {
  @include upper-16;
  text-decoration: none;
  margin-left: 20px;
  position: relative;

  &::after {
    content: url("../img/icon-right-arrow-long.svg");
    display: flex;
    position: absolute;
    top: 2px;
    left: 97px;
    width: 24px;
    height: 11px;
  }

  &:hover::after,
  &:focus::after {
    content: url("../img/icon-right-arrow-verylong.svg");
    width: 33px;
  }

  &:active {
    opacity: 0.3;
    transition: 0.1s ease;
  }

  &_pro::after {
    left: 95px;
  }
}

@media (min-width: $tablet-width) {
  .program {
    position: relative;
    margin-top: 632px;
  }

  .program__btn {
    position: absolute;
    top: -716px;
    left: 139px;
    font-size: 20px;
    padding-top: 16px;
    max-width: 245px;
    padding-bottom: 18px;
    padding-right: 4px;
  }

  .program__block {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .program__title {
    font-size: 36px;
    text-align: left;
    margin-left: 53px;
    margin-top: 70px;
    margin-bottom: 0;

    &::after {
      top: 16px;
      left: 393px;
      width: 200px;
      height: 200px;
    }
  }

  .program__title_pro::after {
    top: 15px;
    left: 395px;
  }

  .program__title_slim::before {
    top: 4px;
    left: 423px;
    width: 140px;
    height: 193px;
  }

  .program__title_pro::before {
    top: 59px;
    left: 359px;
    width: 268px;
    height: 113px;
  }

  .program__text {
    font-size: 16px;
    margin-left: 52px;
    margin-top: 25px;
    line-height: 1.5;
    margin-bottom: 57px;

    &::after {
      display: none;
    }
  }

  .program__text_slim {
    max-width: 372px;
  }

  .program__text_pro {
    max-width: 340px;
  }

  .program__link {
    font-size: 20px;
    display: block;
    margin-left: 53px;
    margin-bottom: 43px;

    &::after {
      top: -3px;
      left: 131px;
    }
  }

  .program__title_pro {
    margin-top: 75px;
  }

  .program__link_pro::after {
    left: 125px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin-top: 355px;
    display: flex;
  }

  .program__block {
    width: 570px;

    &_slim {
      margin-left: 110px;
      margin-right: 46px;
    }

    &_pro {
      margin-right: 110px;
      margin-top: 22px;
      margin-left: 34px;
    }
  }

  .program__title {
    text-align: center;
    margin-left: 21px;
    margin-bottom: 73px;

    &::after {
      top: -29px;
      left: 31px;
      width: 100px;
      height: 100px;
    }

    &_slim {
      margin-top: 70px;
    }

    &_pro {
      margin-left: 64px;
    }
  }

  .program__title_slim::before {
    left: 44px;
    top: -36px;
    width: 71px;
    height: auto;
  }

  .program__title_pro::before {
    left: -30px;
    top: -7px;
    width: 134px;
    height: auto;
  }

  .program__title_pro::after {
    left: -12px;
  }

  .program__btn {
    top: -433px;
    left: 210px;
  }

  .program__text {
    font-size: 16px;
    min-width: 462px;
    margin-bottom: 33px;
  }

  .program__link {
    font-size: 20px;
    margin-bottom: 43px;
  }
}
