.social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: relative;
  padding-bottom: 26px;
  background: $light-grey;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 17px;

  &::before {
    @include footer-stripes;
    top: -9px;
  }

  &::after {
    @include footer-stripes;
    top: 54px;
  }
}

.social__item {
  margin-right: 24px;
  margin-left: 14px;
}

.social__link {
  display: inline-block;
  font-size: 0;
  fill: $dark-grey;
  &:hover {
    fill: $main-color-green;
  }
  &:active {
    fill: $main-color-green;
    opacity: 0.3;
  }
}


.social__img {
  &:hover {
    fill: $main-color-green;
  }
  &:active {
    fill: $main-color-green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding-top: 26px;
    margin-left: 18px;
    align-items: center;

    &::before,
    &::after {
      display: none;
    }
  }

  .social__item {
    margin-right: 14px;
  }

  .social__img_vk {
    width: 30px;
    height: 17px;
  }

  .social__img_insta {
    width: 23px;
    height: 23px;
  }

  .social__img_fb {
    width: 13px;
    height: 29px;
  }
}
