.social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: relative;
  padding-bottom: 35px;
  background: $light-grey;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 14px;
  margin-left: -20px;
  margin-right: -20px;

  &::before {
    @include footer-stripes;
    top: -9px;
  }

  &::after {
    @include footer-stripes;
    top: 54px;
  }
}

.social__item {
  margin-right: 24px;
  margin-left: 14px;
}

.social__link {
  display: flex;

  &_vk {
    width: 22px;
    height: 12px;
    margin-top: 4px;
    background: url("../img/icon-vk.svg") no-repeat;
  }

  &_insta {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    background: url("../img/icon-insta.svg") no-repeat;
  }

  &_fb {
    width: 10px;
    height: 19px;
    background: url("../img/icon-fb.svg") no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-right: 0;
    margin-top: 43px;
    margin-left: 37px;

    &::before,
    &::after {
      display: none;
    }
  }

  .social__item {
    margin-right: 14px;
  }

  .footer__logo {
    margin-left: 0;
    margin-right: 0;
    padding-left: 31px;
    padding-top: 60px;
  }

  .social__link_vk {
    width: 30px;
    height: 17px;
  }

  .social__link_insta {
    width: 23px;
    height: 23px;
  }

  .social__link_fb {
    width: 15px;
    height: 27px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-top: 46px;
  }
}
