.switch {
  display: flex;
  justify-content: space-around;
  padding-bottom: 11px;
}

.switch__text {
  @include medium-title;
  margin-top: 29px;
  border: none;
  background: transparent;
  font-family: $main-text;

  &_left {
    margin-left: 11%;
  }

  &_right {
    margin-right: 9%;
  }
}

.switch__btn {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 14px;
  margin-top: 32px;
  margin-right: 2px;
}

.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  transition: 0.4s;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 35px;
  left: 6px;
  bottom: 3px;
  background-color: $leaf;
  transition: 0.4s;
}

.switch__input:checked + .switch__slider {
  background-color: hsl(0, 0%, 100%);
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(36px);
}

/* Rounded sliders */
.switch__slider.round {
  border-radius: 34px;
}

.switch__slider.round::before {
  border-radius: 3px;
}

.switch__slipper {
  display: none;
}

@media (min-width: $tablet-width) {
  .switch {
    background: linear-gradient(to right, $light-grey 50%, hsl(0, 0%, 92%) 50%);
    padding-bottom: 74px;
    width: 100%;
  }

  .switch__text {
    font-size: 20px;
    margin-top: 15px;

    &_left {
      margin-left: 11%;
    }

    &_right {
      margin-right: 11%;
    }
  }

  .switch__btn {
    display: none;
  }

  .switch__slipper {
    display: block;
    position: relative;
    width: 428px;
    height: 6px;
    margin: 0;
    border: none;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    margin-top: 24px;
  }

  .switch__slipper-btn {
    position: absolute;
    background-color: $leaf;
    cursor: pointer;
    top: -15px;
    left: calc(50% - 15px);
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 #cdcdcd, inset 0 0 0 12px $white;

    &:hover {
      box-shadow: 0 3px 5px 0 #cdcdcd, inset 0 0 0 12px $white;
    }

    &:active {
      border: 2px solid $leaf;
      box-shadow: 0 4px 5px 0 #cdcdcd, inset 0 0 0 11px $white;
    }
  }
}

@media (min-width: $desktop-width) {
  .switch {
    background: linear-gradient(to right, $light-grey 54.5%, hsl(0, 0%, 92%) 54.5%);
    width: 100%;
    padding-top: 21px;
    padding-left: 91px;
    padding-right: 25px;
  }

  .switch__text {
    &_left {
      margin-left: 0;
    }

    &_right {
      margin-right: 0;
    }
  }
}
