@mixin white-text {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  text-align: center;
}

@mixin big-title {
  color: $blacky;
  font-size: 36px;
  font-weight: 400;
}

@mixin text-style-title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $blacky;
}

@mixin result-after {
  top: 46px;
  display: flex;
  font-family: $arial;
  font-size: 12px;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
  position: absolute;
  line-height: 12px;
  background-color: $light-grey;
  width: 82px;
  height: 21px;
  color: hsl(0, 0%, 27%);
}

@mixin medium-title {
  color: $blacky;
  text-transform: uppercase;
  font-size: 16px;
}

@mixin footer-stripes {
  content: "";
  position: absolute;
  display: block;
  width: 88%;
  height: 1px;
  background-color: hsla(0, 0%, 0%, 0.1);
}

@mixin catalog-stripe {
  content: "";
  display: flex;
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: hsla(0, 0%, 0%, 0.1);
}

@mixin button-style {
  width: 280px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 9px;
  border: none;
  display: block;
  margin: 0 auto;
}

@mixin small-title {
  color: $blacky;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin leaf-stripe {
  content: "";
  display: flex;
  position: absolute;
  background-color: $leaf;
  height: 3px;
}

@mixin label-position {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  line-height: 19px;
  cursor: pointer;
}

@mixin input-border {
  content: "";
  position: absolute;
  left: -23px;
  top: -6px;
  width: 30px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 100%);

  &:hover {
    border: 1px solid hsl(0, 0%, 23%);
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -10px;
    left: -37px;
  }
}

@mixin input-transition {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}

@mixin green-btn-hover {
  &:hover {
    background-color: hsl(97, 57%, 43%);
  }

  &:active {
    color: hsla(0, 0%, 0%, 0.3);
  }
}

@mixin input-hover {
  &:hover {
    border: 1px solid hsl(0, 0%, 80%);
  }

  &:active,
  &:focus {
    border: 2px solid $dark-grey;
  }
}

@mixin container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}
